<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1>About Us</h1>
<p>A little bit about us here at the electronics shop. We are a
 family run business that has been helping out people in need of computers in the Tri-State area for over 30 years.
We have all kinds of computers, from Macs to Windows PC's. Stop on in and have a look around we're located at 1000 E Main St.</p>


</br>
</br>
</br>
<a th:href="@{/mainscreen}">
<button>BACK TO HOME</button>
</a>
</body>
</html>